# History files
.Rhistory
.Rapp.history
.Rprofile
.rstudio/

# Session Data files
.RData
packrat/lib*/

# Project results
Project/

# Workflow system files
.wget-hsts
.cache/
.java/
.snakemake/
.local/
.bash_history
.ipynb_checkpoints/
